{% extends 'store/base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Details</title>
</head>
<body>
    <h2>Phone Details</h2>
    <div class="container">
      <div class="row">
        
        <div class="col-md-3">
          <div class="card">
            <img src="{{c.image}}" class="card-img-top">
            <div class="card-body">
              <div class="card-title">
                {{product.title}}
              </div>
              <div class="card-text">
                
                {{product.price}}
              </div>
              {{product.description}}
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <h2>Reviews</h2>
    <div class="reviews-wrapper">
      {% for f in product.feedback_set.all %}
      <div class="notification">
        <p>
          <strong>Stars:</strong>{{f.stars}} <br>
          <strong>Customer:</strong>{{f.customer}} <br>
          <strong>Feedback:</strong>{{f.feedback}}
        </p>
        
      </div>
    </div>
    {% endfor %}
  
    <br><a href="/shop/list_products/">BACK</a><br>
    <a href="/shop/create/order/"><button type="button">Create Order</button></a> 
    {% endblock content%}
</body>
</html>