{% extends 'store/base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Welcome to All Phones </h1>
    
    <h2>
        User Example
    </h2>
    {% if request.user.is_authenticated %} <br>
    <h2>The User is logged in</h2>
    anything you put here will show only for logged in users 
    {% else %}
    <h2>User is not logged in </h2>
    Anything you put here will show only for Non-logged in users
    {% endif %}
    
    {{ request.user.username }} <br>
    {{ request.user.is_staff }}
</body>
<li><a href="/shop/list_customer/">Display All Customers</a></li><br>
{% endblock content%}
</html>