{% extends 'store/base.html'%}
{% load static %}
{% block content %}
{% for p in productobj %}
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'css/images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>

            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="{url 'detail_viwe' p.id }">View</a>
            <h4 style="display: inline-block; float:right"><strong>$20</strong></h4>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'css/images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            
            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
            
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'css/images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>

            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

{%endfor%}
        
    </script>
</body>

</html>
<script type="text/javascript">

    if(localStorage.getItem('cart')==null){
        var cart = {};
        
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'))
    }

    $(document).on('click','.atc',function(){
        console.log('the button was clicked');

        var item_id = this.id.toString();
        console.log(item_id);

        if(cart[item_id] != undefined){
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
            cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById('price'+item_id).innerHTML);
        }
        else{
            quantity = 1;
            price = parseFloat(document.getElementById('price'+item_id).innerHTML);
            name = document.getElementById('nm' + item_id).innerHTML;
            cart[item_id] = [quantity,name,price];
        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart))

        document.getElementById('cart_function').innerHTML = "cart(" + Object.keys(cart).length + ")"; 
        
        
       
    });

    //display cart function
    displayCart(cart);
    function displayCart(cart) {   

        var cartString = "";
        cartString +=  "<h5>This is your cart</h5>";

        var cartIndex = 1;
        for (var x in cart){
            cartString += cartIndex;
            cartString += document.getElementById("nm" + x).innerHTML +" | " + "Qty:" + cart[x][0] + "</br>" ;
            cartIndex +=1;

        }
        
        //checkout
       //cartString += "<a href='#'><button class='btn btn-warning' id='checkout'>check</button></a>";
         cartString += "<br><a class='btn btn-warning' id='checkout' href='/checkout'>checkout</a>";     

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        document.getElementById("cart_function").setAttribute("data-bs-content",cartString);
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
          });

        
    }
    
</script>
</html>


<!---
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'greeting' %}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <button id="cart" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
    sagittis lacus vel augue laoreet rutrum faucibus.">
      Cart(0)
    </button>
                </li>
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock content %}
