<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customers Information</title>
</head>
<body>
  <h2>Customers LIST</h2>
  <table border="1"> 
    <tr bgcolor="LightGrey">
      <td align="center"> ID</td>
      <td align="center">Name</td>
      <td align="center">Address</td>
      
    </tr>

    {% for c in cus %}
    <tr>
      <td align="center">{{ c.cus_id }}</td>
      <td align="center">{{ c.name }}</td>
      <td align="center">{{ c.address }}</td>
      
    </tr>
    {% endfor %}
  </table>
  
</body>
</html>