{% extends 'store/base.html'%}
{% load static %}
{% block content %}


<body>
    <h2>PRODUCT LIST</h2>
    <div class="container">
      <div class="row"> 
        <div class="col-md-12">
          <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
              <div class="col">
                <input type="search" name="item_name" placeholder="Search for Products" class="form-control form-control-borderless">
              </div>
              <div class="col-auto">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        {% for c in prt %}
        <div class="col-md-3">
          <div class="card">
            <img src="{{c.image}}" class="card-img-top">
            <div class="card-body">
              <div class="card-title">
                {{c.title}}
              </div>
              <div class="card-text">
                

              </div>
              <a href="/shop/detail_viwe/{{c.id}}"><button type="button">Show Details</button></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  
    <br><a href="/shop/">BACK</a> 
    {% endblock content%}
  </body>
  </html>