<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Information</title>
</head>
<body>
  <table border="1">
    <tr align="center" bgcolor="Grey">
      <td colspan="6"><h2>CAR DETAIL for Licsense: {{ allp.id }}</h2></td>
    </tr>
    
    
    
    <tr>
      <td align="center">{{ allp.id }}</td>
      <td align="center">{{ allp.title }}</td>
      <td align="center">{{ allp.image }}</td>
      <td align="center">{{ allc.price }}</td>
      
    </tr>
  </table>
  <br><a href="/shop/">BACK</a>
</body>
</html>