{% extends 'store/base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>You searched for {{search}}</h1>
  
  
  



<table border="1"> 
  <tr bgcolor="LightGrey">
    <td align="center">Image</td>
    <td align="center">Title</td>
    <td align="center">Price</td>
    <td align="center">Description</td>
    
  </tr>

  {% for s in searched_p%}
  <tr>
    
    <td><div class="card">
      <img src="{{s.image}}" class="card-img-top"></td>
    <td align="center">{{ s.title }}</td>
    <td align="center">{{s.price }}</td>
    <td align="center">{{ s.description }}</td>
    
    

  </tr>
  {% endfor %}
</table>
<br><a href="/shop/list_products/">BACK</a> 
{% endblock content%}

</body>
</html>

  